* {
    margin: 0;
    padding: 0;

    list-style: none;
}

.body {
    background-color: #0d1117;
}

#left_result,
#right_result {
    margin-bottom: 3rem;
    margin-left: 8.5rem;

    color: #fff;
}

.my_img {
    width: 15rem;
    margin-left: 5rem;

    border-radius: 50%;
}

.VS_img:hover {
    transform: scale(1.5);
}

.public {
    width: 80px;
    height: 29px;

    text-align: center;

    border: 1px solid #30363d;
    border-radius: 15px;
}

/*
.reponame{
    color: #2f80f5;
}
*/

.left_section {
    margin-top: 10rem;

    /* background-color: red; */
}

.right_section {
    margin-top: 10rem;

    /* background-color: yellow; */
}

.search_input {
    margin-bottom: 2rem;
}

body a {
    text-decoration: none;
}

#sub_nav {
    display: flex;
    align-items: center;

    margin-top: 1rem;

    /* height: 2rem; */

    /* gap: 1rem; */

    place-content: center;
}

.UnderlineNav-item {
    font-size: 14px;
    line-height: 30px;

    position: relative;

    display: flex;
    align-items: center;

    padding: 0 8px;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;

    color: white;
    border: 0;
    border-radius: 6px;
    background-color: initial;
}

.UnderlineNav-item:hover {
    transition: border-bottom-color .12s ease-out6;
    text-decoration: none;

    /* color: yellow; */

    border-bottom-color: rgba(175, 184, 193, 0.2);
    outline-offset: -2px;
    background-color: #7d85909c;

/*
border-bottom: 2px solid red;
    border-radius: 0;
*/
}

.left_section .repo__item {
    width: 450px;

    /* height: 120px; */

    margin-top: 41px;
    margin-left: -15px;
    padding: 20px;

    color: white;
    border-radius: 10px;
    background-color: #db545a;
}

.right_section .repo__item {
    width: 450px;

    /* height: 120px; */

    margin-top: 41px;
    margin-left: -15px;
    padding: 20px;

    color: white;
    border-radius: 10px;
    background-color: #0077c7;
}

.name {
    display: flex;
    justify-content: center;
}

.name p {
    font-size: 2rem;
    font-weight: bolder;
}

.left_section .info,
.right_section .info {
    font-size: 1.5rem;
}

#VS_img {
    position: absolute;
    top: 22rem;
    left: 55rem;

    width: 10rem;

    border-radius: 50%;
}

.language {
    margin-top: 25px;

    color: #7d8590;
}

.info {
    display: flex;
    flex-direction: column;
}

.nav_icon {
    margin-right: 1rem;
}

/* search input */

.container-2 {
    position: relative;

    width: 300px;

    vertical-align: middle;
    white-space: nowrap;
}

.container-2 input#search {
    font-size: 10pt;

    /* float: unset; */

    width: 300px;
    height: 50px;
    margin-bottom: 4rem;
    margin-left: 1rem;
    padding-left: 50px;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;

    color: #262626;
    color: #fff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #2b303b;
}

.container-2 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-2 input#search:-moz-placeholder /* Firefox 18- */ { /* Firefox 18- */
    color: #65737e;
}

.container-2 input#search::-moz-placeholder /* Firefox 19+ */ { /* Firefox 19+ */
    color: #65737e;
}

.container-2 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-2 .icon {
    position: absolute;
    position: absolute;
    z-index: 1;

    margin-top: 9px;

    /* top: 50%; */

    margin-left: 1.5rem;

    color: #4f5b66;
}

.container-2 input#search:focus,
.container-2 input#search:active {
    width: 300px;

    outline: none;
}

/*
.container-2:hover input#search {
    width: 300px;
    padding-right: 0.5rem;
}
*/

.container-2:hover .icon {
    color: #93a2ad;
}

/* media */

@media(max-width: 1440px) {
    #VS_img {
        position: absolute;
        top: 23rem;
        left: 40rem;
    }
}

@media(max-width: 1024px) {
    #VS_img {
        position: absolute;
        top: 27rem;
        left: 27rem;
    }

    .left_section .repo__item {
        width: 20rem;
    }

    .right_section .repo__item {
        width: 20rem;
    }

    .my_img {
        width: 15rem;
        margin-left: 1rem;

        border-radius: 50%;
    }

    #result {
        margin-bottom: 3rem;
        margin-left: 5.5rem;

        color: #fff;
    }
}

@media(max-width: 768px) {
    #VS_img {
        position: absolute;
        top: 19rem;
        left: 20.8rem;

        width: 6rem;
    }

    .my_img {
        width: 10rem;
        margin-left: 2rem;

        border-radius: 50%;
    }

    .left_section,
    .right_section {
        margin-top: 2rem;
    }

    .left_section .repo__item {
        width: 17rem;
    }

    .right_section .repo__item {
        width: 17rem;
    }

    .left_section .info,
    .right_section .info {
        font-size: 1.5rem;
    }

    .name p {
        font-size: 1.7rem;
        font-weight: bolder;
    }

    .container-2 input#search {
        font-size: 8pt;

        width: 162px;
        margin-left: 4rem;
    }

    .container-2 .icon {
        margin-left: 4.5rem;
    }

    #result {
        margin-bottom: 3rem;
        margin-left: 3.5rem;

        color: #fff;
    }
}

/* Styling the input field */

.search_input {
    font-size: 16px;

    padding: 12px;

    transition: #5b9dd9 0.3s ease;

    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #f7f7f7;
}

/* Styling the input field when it is in focus */

.search_input:focus {
    /* border-color: #5b9dd9; */

    border: none;
    border-bottom: 2px solid #f7f7f7;
    outline: none;
    background-color: #ccc;
}

@media(max-width: 425px) {
    #VS_img {
        position: absolute;
        position: absolute;
        top: 17rem;
        left: 13rem;

        width: 3rem;
    }

    .my_img {
        width: 6rem;
        margin-left: 2rem;

        border-radius: 50%;
    }

    .left_section .repo__item {
        width: 10rem;
        margin-left: 0.1rem;
    }

    .right_section .repo__item {
        width: 10rem;
        margin-left: 0.1rem;
    }

    .name p {
        font-size: 1.2rem;
        font-weight: bolder;
    }

    .left_section .info,
    .right_section .info {
        font-size: 0.8rem;
    }

    .search_input {
        width: 7rem;
    }

    .container {
        margin-left: 1.5rem!important;
    }

    #result {
        margin-bottom: 3rem;
        margin-left: 2.5rem;

        color: #fff;
    }
}

@media(max-width: 375px) {
    #VS_img {
        position: absolute;
        top: 17rem;
        left: 10.2rem;

        width: 3rem;
    }

    .container {
        margin-left: 0rem !important;
    }

/*
#sub_nav {
        margin-left: 5rem;
}
*/

    .container-2 {
        position: relative;

        /* margin-right: 4rem; */

        width: 150px;

        vertical-align: middle;
        white-space: nowrap;
    }

    .container-2 input#search {
        font-size: 8pt;

        width: 162px;
        margin-left: -0.5rem;
    }

    .container-2 .icon {
        margin-left: -0.1rem;
    }
}

@media(max-width: 320px) {
    #VS_img {
        position: absolute;
        top: 17rem;
        left: 8.4rem;

        width: 3rem;
    }

    .left_section .repo__item {
        width: 7rem;
        margin-left: 0.1rem;
    }

    .right_section .repo__item {
        width: 7rem;
        margin-left: 0.1rem;
    }

    .name p {
        font-size: 1rem;
        font-weight: bolder;
    }

    .left_section .info,
    .right_section .info {
        font-size: 0.6rem;
    }

    .container-2 input#search {
        font-size: 7pt;

        width: 125px;
        margin-left: 0.5rem;
        padding-left: 32px;
    }

    .container-2 .icon {
        margin-left: 0.5rem;
    }

    .my_img {
        width: 6rem;
        margin-left: 0.5rem;

        border-radius: 50%;
    }

    #result {
        margin-bottom: 3rem;
        margin-left: 1rem;

        color: #fff;
    }
}

/* celepration animation */

.confetti {
    position: absolute;
    z-index: 1000;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.confetti-piece {
    position: absolute;
    top: 0;

    width: 10px;
    height: 30px;

    opacity: 0;
    background: #ffd300;
}

.confetti-piece:nth-child(1) {
    left: 7%;

    -webkit-transform: rotate(-40deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 1116ms;
    -webkit-animation-delay: 182ms;
}

.confetti-piece:nth-child(2) {
    left: 14%;

    -webkit-transform: rotate(4deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 1076ms;
    -webkit-animation-delay: 161ms;
}

.confetti-piece:nth-child(3) {
    left: 21%;

    -webkit-transform: rotate(-51deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 1103ms;
    -webkit-animation-delay: 481ms;
}

.confetti-piece:nth-child(4) {
    left: 28%;

    -webkit-transform: rotate(61deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 708ms;
    -webkit-animation-delay: 334ms;
}

.confetti-piece:nth-child(5) {
    left: 35%;

    -webkit-transform: rotate(-52deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 776ms;
    -webkit-animation-delay: 302ms;
}

.confetti-piece:nth-child(6) {
    left: 42%;

    -webkit-transform: rotate(38deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 1168ms;
    -webkit-animation-delay: 180ms;
}

.confetti-piece:nth-child(7) {
    left: 49%;

    -webkit-transform: rotate(11deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 1200ms;
    -webkit-animation-delay: 395ms;
}

.confetti-piece:nth-child(8) {
    left: 56%;

    -webkit-transform: rotate(49deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 887ms;
    -webkit-animation-delay: 14ms;
}

.confetti-piece:nth-child(9) {
    left: 63%;

    -webkit-transform: rotate(-72deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 805ms;
    -webkit-animation-delay: 149ms;
}

.confetti-piece:nth-child(10) {
    left: 70%;

    -webkit-transform: rotate(10deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 1059ms;
    -webkit-animation-delay: 351ms;
}

.confetti-piece:nth-child(11) {
    left: 77%;

    -webkit-transform: rotate(4deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 1132ms;
    -webkit-animation-delay: 307ms;
}

.confetti-piece:nth-child(12) {
    left: 84%;

    -webkit-transform: rotate(42deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 776ms;
    -webkit-animation-delay: 464ms;
}

.confetti-piece:nth-child(13) {
    left: 91%;

    -webkit-transform: rotate(-72deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-duration: 818ms;
    -webkit-animation-delay: 429ms;
}

.confetti-piece:nth-child(odd) {
    background: #7431e8;
}

.confetti-piece:nth-child(even) {
    z-index: 1;
}

.confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;

    -webkit-animation-duration: 2000ms;
}

.confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;

    -webkit-animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
}

.confetti-piece:nth-child(4n-7) {
    background: red;
}

@-webkit-keyframes makeItRain {

from {
    opacity: 0;
}

50% {
    opacity: 1;
}

to {
    -webkit-transform: translateY(350px);
}

}
