* {
    margin: 0;
    padding: 0;

    list-style: none;
}

.body {
    background-color: #0d1117;
}

.icons {
    display: flex;
}

.UnderlineNav-body {
    display: flex;
    align-items: center;

    min-height: 48px;

    list-style: none;
}

.UnderlineNav-item {
    font-size: 14px;
    line-height: 30px;

    position: relative;

    display: flex;
    align-items: center;

    padding: 0 8px;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;

    color: white;
    border: 0;
    border-radius: 6px;
    background-color: initial;
}

.UnderlineNav-item:hover {
    transition: border-bottom-color .12s ease-out6;
    text-decoration: none;

    /* color: yellow; */

    border-bottom-color: rgba(175, 184, 193, 0.2);
    outline-offset: -2px;
    background-color: #7d85909c;
}

body a {
    text-decoration: none;
}

body a img {
    margin-right: 1rem;
}

body main {
    display: flex;
}

#nav_section {
    display: flex;
    justify-content: center
}

#myImg {
    width: 20.3rem;

    border-radius: 50%;
}

#icon_people {
    margin: 0;
    padding: 0;
}

.profile button {
    width: 100%;
    margin-bottom: 1rem;

    color: #bfd1d9;
    border: 1px solid #dce9ee54;
    border-style: none;
    border-radius: 5px;
    background-color: #232b33;
}

.profile button:hover {
    width: 100%;
    margin-bottom: 1rem;

    color: #bfd1d9;
    border: 1px solid #dce9eefb;
    border-style: none;
    border-radius: 5px;
    background-color: #4d5a68;
}

.repo {
    display: flex;
}

#row {
    border: 1px solid black;
    background-color: red;
}

.public {
    width: 80px;
    height: 29px;

    text-align: center;

    border: 1px solid #30363d;
    border-radius: 15px;
}

.reponame {
    color: #2f80f5;
}

.repo__item {
    width: 450px;
    height: 120px;
    margin-top: 41px;
    margin-left: -15px;
    padding: 20px;

    color: #7d8590;
    border: 1px solid #30363d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.repo__item div {
    display: flex;
    justify-content: space-between;
}

.language {
    margin-top: 25px;

    color: #7d8590;
}

/* search input */

.container-2 {
    position: relative;

    width: 300px;

    vertical-align: middle;
    white-space: nowrap;
}

.container-2 input#search {
    font-size: 10pt;

    float: left;

    width: 47px;
    height: 50px;
    padding-left: 50px;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;

    color: #262626;
    color: #fff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #2b303b;
}

.container-2 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-2 input#search:-moz-placeholder /* Firefox 18- */ { /* Firefox 18- */
    color: #65737e;
}

.container-2 input#search::-moz-placeholder /* Firefox 19+ */ { /* Firefox 19+ */
    color: #65737e;
}

.container-2 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-2 .icon {
    position: absolute;
    z-index: 1;

    margin-top: 9px;
    margin-left: 7px;

    color: #4f5b66;
}

.container-2 input#search:focus,
.container-2 input#search:active {
    width: 300px;

    outline: none;
}

.container-2:hover input#search {
    width: 300px;
    padding-right: 0.5rem;
}

.container-2:hover .icon {
    color: #93a2ad;
}

#my_name {
    color: white;
}

.profile_following {
    color: white;
}

/* Media */

@media(max-width: 1024px) {
    .repo__item {
        width: 20rem;
    }

    #myImg {
        width: 14rem;

        border-radius: 50%;
    }
    .explore{
        display: none !important;
    }
}

@media(max-width: 768px) {
    * {
        font-size: 0.9rem;
    }

    .repo__item {
        width: 16rem;
    }

    .icons {
        display: none;
    }

    #myImg {
        width: 12rem;

        border-radius: 50%;
    }
}

@media(max-width: 425px) {
    * {
        font-size: 0.7rem;
    }


    .repo__item {
        width: 25rem;
    }

    #myImg {
        width: 9rem;

        border-radius: 50%;
    }
}

@media(max-width: 375px) {
    * {
        font-size: .6rem;
    }

    .repo__item {
        width: 26rem;
    }

    #myImg {
        width: 9rem;

        border-radius: 50%;
    }
}

@media(max-width: 320px) {
    * {
        font-size: .5rem;
    }

    .repo__item {
        width: 27rem;
    }

    #myImg {
        width: 9.5rem;

        border-radius: 50%;
    }
    .public {
        width: 57px;
        height: 20px;
        text-align: center;
        border: 1px solid #30363d;
        border-radius: 15px;
    }
}

/* light mode */

.light-mode {
    background-color: #f5f5f5;
}

.light-mode .icons {
    display: flex;
}

.light-mode .UnderlineNav-body {
    display: flex;
    align-items: center;

    min-height: 48px;

    list-style: none;
}

.light-mode .UnderlineNav-item {
    font-size: 14px;
    line-height: 30px;

    position: relative;

    display: flex;
    align-items: center;

    padding: 0 8px;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;

    color: #333333;
    border: 0;
    border-radius: 6px;
    background-color: initial;
}

.light-mode .UnderlineNav-item:hover {
    transition: border-bottom-color .12s ease-out6;
    text-decoration: none;

    border-bottom-color: rgba(0, 0, 0, 0.2);
    outline-offset: -2px;
    background-color: #f0f0f0;
}

.light-mode body a {
    text-decoration: none;
}

.light-mode body a img {
    margin-right: 1rem;
}

.light-mode body main {
    display: flex;
}

.light-mode #nav_section {
    display: flex;
    justify-content: center
}

.light-mode #myImg {
    width: 20.3rem;

    border-radius: 50%;
}

.light-mode #icon_people {
    margin: 0;
    padding: 0;
}

.light-mode .profile button {
    width: 100%;
    margin-bottom: 1rem;

    color: #333333;
    border: 1px solid #e2e2e2;
    border-style: none;
    border-radius: 5px;
    background-color: #ffffff;
}

.light-mode .profile button:hover {
    width: 100%;
    margin-bottom: 1rem;

    color: #333333;
    border: 1px solid #e2e2e2;
    border-style: none;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.light-mode .repo {
    display: flex;
}

.light-mode #row {
    border: 1px solid black;
    background-color: red;
}

.light-mode .public {
    width: 80px;
    height: 29px;

    text-align: center;

    border: 1px solid #e2e2e2;
    border-radius: 15px;
}

.light-mode .reponame {
    color: #2f80f5;
}

.light-mode .repo__item {
    width: 450px;
    height: 120px;
    margin-top: 41px;
    margin-left: -15px;
    padding: 20px;

    color: #333333;
    border: 1px solid #e2e2e2;
}

.light-mode .repo__item div {
    display: flex;
    justify-content: space-between;
}

.light-mode .language {
    margin-top: 25px;

    color: #333333;
}

.light-mode .container-2 {
    position: relative;

    width: 300px;

    vertical-align: middle;
    white-space: nowrap;
}

.light-mode .container-2 input#search {
    font-size: 10pt;

    float: left;

    width: 47px;
    height: 50px;
    padding-left: 50px;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;

    color: #262626;
    color: #000000;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f0f0f0;
}

.light-mode .container-2 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-2 input#search:-moz-placeholder {
    color: #65737e;
}

.light-mode .container-2 input#search::-moz-placeholder {
    color: #65737e;
}

.light-mode .container-2 input#search:-ms-input-placeholder {
    color: #65737e;
}

.light-mode .container-2 .icon {
    position: absolute;
    z-index: 1;

    margin-top: 9px;
    margin-left: 7px;

    color: #4f5b66;
}

.light-mode .container-2 input#search:focus,
.container-2 input#search:active {
    width: 300px;

    outline: none;
}

.light-mode .container-2:hover input#search {
    width: 300px;
    padding-right: 0.5rem;
}

.light-mode .container-2:hover .icon {
    color: #93a2ad;
}

.light-mode #my_name {
    color: black;
}

.light-mode .profile_following {
    color: black;
}

 


.switch-background {
    width: 90px;
    height: 40px;
    margin-top: 0.5em;

    transition: box-shadow 1s ease-in;

    border-radius: 20px;
    background-color: rgb(91, 56, 115);
    box-shadow: 1px 1px 5px rgb(56, 32, 72) , -1px -1px 5px rgba( 212, 176, 235, 0.636);
}

.off-shadow {
    box-shadow: 1px 1px 5px rgb(56, 32, 72) , -1px -1px 5px rgba( 212, 176, 235, 0.636);
}

.on-shadow {
    box-shadow: 1px 1px 5px rgb(99, 17, 46) , -1px -1px 5px rgba( 255, 217, 245, 0.468);
}

.innerSwitch {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-left: 10px;

    border-radius: 10px;
    background-color: #6ef0e1;
}

.face {
    width: 12px;
    height: 12px;
    padding-bottom: 2px;
}
